body {
	width: 100%;
	overflow-x: hidden;
}

* { font-family: "Noto Sans Japanese"; }
.wf-nicomoji { font-family: "Nico Moji"; }

h1,h2,h3,h4,h5,p,a {
	margin: 0;
	padding: 0;
	line-height: 1.6;
}
ul {
	margin: 0;
	padding: 0;
}

.hdg-lv2 {
	text-align: center;
	font-size: 28px;
    font-weight: bold;
	margin-bottom: 20px;
}
.hdg-lv3 {
	font-size: 21px;
    font-weight: bold;
}
.txt-note {
	font-size: 10px;
}
.animate-fadein {
	transition: all .3s linear;
	opacity: 0;
	&.is-active {
		opacity: 1;
	}
}
.c-white {
	color: #fff;
}
@media screen and (max-width: 585px) {
	.hdg-lv2 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.hdg-lv3 {
		font-size: 18px;
	}
}